.App {
  margin:0;
}

.app_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.app_left{
  display: flex;
  width: 75%;
  float: left;

}
.app_right{
  float: right;
  width: 23%;
  overflow: scroll;
  height: 500px;

}
